<div class="panel panel-primary" *ngIf='product'>
    <div class="panel-heading" [innerHtml]="pageTitle + ': ' + product.name"></div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <img [src]="product.imageUrl" [alt]="product.name">
                </div>
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6" [innerHtml]="product.name"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Code:</div>
                    <div class="col-md-6" [innerHtml]="product.code"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Description:</div>
                    <div class="col-md-6" [innerHtml]="product.description"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Availability:</div>
                    <div class="col-md-6" [innerHtml]="product.releasDate"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Price:</div>
                    <div class="col-md-6" [innerHtml]="product.price | currency:'USD':true:'1.2-2'"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Star rating:</div>
                    <div class="col-md-6">
                        <ai-star [rating]="product.starRating"></ai-star>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" style="width: 80px" (click)="onBack()">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
    </div>
</div>